PORT=9999
MONGO_URI=mongodb://127.0.0.1:27017/sdn302_pe_template
JWT_SECRET=sdn302_secret_key

# PRICING_MODE: NORMAL (Co-working/others) or EV (multiplying by 15 kWh per hour)
PRICING_MODE=NORMAL

# ENABLE_HAPPY_HOUR: true or false (30% discount between 22:00 and 04:00)
ENABLE_HAPPY_HOUR=false

# ENABLE_WALLET: true or false (deducts totalAmount from user balance)
ENABLE_WALLET=false
