PORT=9999
MONGO_URI=mongodb://127.0.0.1:27017/eVChargingSystem
JWT_SECRET=sdn302_secret_key

# PRICING_MODE: NORMAL (Co-working/others) or EV (multiplying by 15 kWh per hour)
PRICING_MODE=EV

# ENABLE_HAPPY_HOUR: true or false (30% discount between 22:00 and 04:00)
ENABLE_HAPPY_HOUR=true

# ENABLE_WALLET: true or false (deducts totalCost from user balance)
ENABLE_WALLET=true
